form {
    width: 46rem;
    display: flex;
    justify-content: center;
    margin-top: -1.75rem;
    margin: -1.75rem auto
}

form input {
    width: 39.875rem;
    padding: 1rem;
    border-radius: 8px;
    gap: 8px;
    align-items: center;
    flex: 1 0 0;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    color: #FFFFFF8C;
}

form button[type=submit] {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    border-radius: 8px;
    background: var(--blue-dark);
    border: none;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}


form button[type=submit] span {
    margin-right: 0.5rem;
}

form button[type=submit]:hover {
    background: var(--blue);
    color: var(--gray-100);
}